<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fluid.paho_mqtt" version="1.0.5" targetFramework="native" />
  <package id="openssl-vc141-static-x86_64" version="1.1.0" targetFramework="native" />
  <package id="restbed-vc141-static-x86_64" version="5.0.2" targetFramework="native" />
</packages>